
<form action="/answer" class="col-lg-6">
  <label for="askInput" class="form-label">Ask your coach anything:</label>
  <div class="input-group mb-3">
    <input type="text" class="form-control" id="askInput" name="question">
    <button class="btn btn-primary btn-lg" type="submit" value="Ask">Ask</button>
  </div>
</form>
