// Place all the styles related to the Questions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  font-family: sans-serif;
  padding: 20px;
}

.box {
  border-left: 5px solid #dddddd;
  padding: 3px 15px;
}

.answer {
  background-color: #ffffe1;
  margin: 15px 0;
}
